.failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.failure-img {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}


.status-message.error {
  color: #ff4c4c;
  font-weight: 500;
  font-size: 1.5rem;
}