body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f4f9;
}

.App {
  text-align: left;
}

.main-nav {
  background-color: #282c34;
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.main-nav a {
  color: #61dafb;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

.main-nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}